* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #12130F;
}

.notice {
    width: 50%;
    padding: 30px;
    margin: 10% auto;

    background-color: #FFBF00;
    border-radius: 20px;
}

p {
    margin-bottom: 1em;
    font-size: 40px;
    background-color: #FFBF00;
}

p:last-child {
    margin-bottom: 0em;
}