/* Master Styles */
body {
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}


/* Nav Styles */
.nav-bar {
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.left-side {
	display: flex;
	background-color: black;
	
}

.nav-bar > .left-side > div {
	
	margin-right: 24px;
	font-size: 0.9em;
	text-transform: uppercase;

}

.nav-links {
	
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
	padding: 12px;
}

.nav-links a {
	color: #ff5e00;
	font-family: Bahnschrift;
	text-decoration: none;
	transition: color 0.5s;
}

.brand {
	color: #ff5e00;
	font-family: Bahnschrift;
	font-size: 32px;
	padding: 8px;
}

.nav-links:hover {
	border-bottom: 1px solid black;
	background-color: white;
}

.nav-links a:hover {
	color: black;
}

/* Portfolio Styles */

@font-face {
	font-family: Bahnschrift;
	src: local("bahnschrift.ttf");
}